<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            /* font-size: 7em; */
        }
    </style>
</head>

<body>
    <center>
        This is our home page.<br />
        Welcome <%=name%>, <%=age%> to our home page.
    </center>
</body>
</html>

<!-- <%=name%> is a variable that we are passing from the server to the view. We can pass any number of variables from the server to the view. We can also pass objects and arrays. -->